body{
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
h1,
h2,
h3,
h4,
p{
    margin-top: 0;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
button{
    cursor: pointer;
}
.hover:hover, 
.focus:focus {
    color: #2196F3;
}

.hover-h:hover, 
.focus-h:focus {
    color: #000000;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

/*header */

header{
    list-style-type: none;}

.header-header{
    padding-bottom: 24px;
    padding-top: 24px;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-web{
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;

    }
.header-studio{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2196F3;
}


.header-port-cont{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #212121;
}


.header-list{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em
}
.header-li:not(:last-child){
    margin-right: 50px;
}


.header-tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-mail{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2196F3;
    margin-right: 50px;
}
/*header */

.studio{
    color: #2196F3;
}
/* hero  */

.section-title{
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background: #2F303A;
    text-align: center;
}

.title{
margin-left: auto;
margin-right: auto;
width: 696px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.7;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;

}
.button {


/* № */
padding-top: 10px;
padding-bottom: 10px;
padding-left: 32px;
padding-right: 32px;
color: #FFFFFF;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

}


.list{

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
}

.list-title-li{
    width: 270px;
}

.list-title-li:not(:nth-child(4n)){
    margin-right: 30px;
}

.list-title{
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}
.list-title-p{
margin-top: 10px;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: #757575;
}

.section-img{
    padding-bottom: 200px;
}

.img-work{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}

.section-work{
    background: #F5F4FA;
}
.title-work{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;

}
.work-ul{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    /* justify-content: space-between; */
}

/* .work-ul-li:not(:nth-child(4n)){
    margin-right: 30px;
} */
/* .work-ul-li{
    flex-basis: calc((100%-90px/4 ));
} */

.work-h-p{
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
padding-top: 30px;
padding-bottom: 30px;
}


.list-work{
    font-weight: 500;
    font-size: 16px;
    line-height: 2.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

    
}
.list-work-prof{
    font-size: 16px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 11px;
}

/* footer */
.footer-address{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-address-address{
    font-style: normal;
}
.footer{
    padding: 60px 0;
    background: #2F303A;
}
.footer-mail{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-tel{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}


.footer-web-white{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #ffffff;





}
.footer-ul-li-adress{
    margin-top: 20px;
}
.footer-ul-li{
    margin-top: 9px;
}

/*====== portfolio ======*/

.section-porfolio{
    padding-top: 200px;
    padding-bottom: 200px;
}
.list-portfolio{
font-size: 16px;
line-height: 1.6;
letter-spacing: 0.03em;
color: #212121;
display: flex;
flex-wrap: wrap;
column-gap: 8px;
justify-content: center;
margin-bottom: 200px;
}

.list-portfolio-li{
background: #F5F4FA;
border-radius: 4px;
padding: 6px 22px ;
}

.list-portfolio-all{
    background: #2196F3;
    color: #ffffff;
}
.portfolio-element{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;

    /* justify-content: space-between; */
}

/* .work-ul-li:not(:nth-child(4n)){
    margin-right: 30px;
} */
/* .work-ul-li{
    flex-basis: calc((100%-90px/4 ));
} */
.portfolio-element-text{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}


.portfolio-application{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
padding-top: 20px;
}

.portfolio-application-plus{
font-weight: 400;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
color: #757575;
margin-top: 4px;
}

.hover-portfolio:hover, 
.focus-portfolio:focus {
    color: #ffffff;
    background-color: #2196F3;
}